[Unit]
Description=Check Mail Timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 5min
OnUnitActiveSec= 2min
Unit=mailagent.service

[Install]
WantedBy=default.target
